{% extends 'base.html' %}

{% block title %}index{% endblock %}

{% block header %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/daily.css' %}">
{% endblock %}

{% block main %}
    <div class="daily container">
        <h4>当前用户：{{ user.username }} - {{ user.first_name }}</h4>
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">查询</button>
                </span>
                <span class="input-group-addon">日期</span>
                <div class="input-group date form_date col-md-3">
                    <input class="form-control" size="16" type="text" name="date" value="{{ date }}" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </form>
        <br>
        <br>

        {% if error %}
            <h2>{{ error_message }}</h2>
        {% endif %}

        {% if show_table|length != 0%}
            <div class="col-md-7">
                <h4>任务列表</h4>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th class="col-sm-1"></th>
                        <th class="col-sm-2">任务</th>
                        <th class="col-sm-2">检查</th>
                        <th class="col-md-3">描述</th>
                    </tr>
                    {% for row in show_table %}
                        <tr>
                            <td>
                                <form class="" method="post">
                                    {% csrf_token %}
                                    <label><input type="text" name="date" value="{{ date }}" hidden></label>
                                    <label><input type="text" name="task" value="{{ row.0 }}" hidden></label>
                                    <button class="btn btn-success" name="modify" value="true" type="submit">修改</button>
                                </form>
                            </td>
                            <td>{{ row.0 }}</td>
                            <td>
                                {% if row.1 == True %}
                                    <span class="glyphicon glyphicon-ok icon-success" aria-hidden="true"></span>
                                {% elif row.1 == False %}
                                    <a href="{% url 'show_detail_post' %}?person_task_id={{ row.3 }}&detail_post_id={{ row.4 }}"><span class="glyphicon glyphicon-remove icon-error" aria-hidden="true"></span></a>
                                {% else %}
                                    <span class="glyphicon glyphicon-alert icon-warning" aria-hidden="true"></span>&nbsp;&nbsp;未检查！
                                {% endif %}
                            </td>
                            <td>{{ row.2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}